        <div class="footer container-fluid p-5 align-text-center">
            <p>Customer Care : 198273681263</p>
            <p>Email address : abc@abc.com</p>

        </div>
        <script src="/js/main.js"></script>

    </body>

</html>