<section id="searchBarSection">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-7 " >
                <h1 class=" text-lg-right text-primary"><b>Products</b></h1>
            </div> 
        </div>
    </div>
</section>